
{% load static %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" 
              href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
        <link rel="stylesheet" 
              href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.css">
<link media="all" href="{% static 'nvd3/src/nv.d3.css' %}" type="text/css" rel="stylesheet" />
<script type="text/javascript" src='{% static 'd3/d3.min.js' %}'></script>
<script type="text/javascript" src='{% static 'nvd3/nv.d3.min.js' %}'></script>

{% load bootstrap3 %}
{% load nvd3_tags %}

<head>

    {% load_chart charttype chartdata chartcontainer extra %}
</head>
<body>
	<div class="wrapper">

		<div class="navbar navbar-inverse">
      			<div class="container">
 				<ul class="nav navbar-nav">
            			<li style="font-size:20px;color:#dddddd">Temperature Checker</li>
				</ul>
        		</div>
		</div>
		<br>

	</div> <!-- wrapper -->
	
    {% include_container chartcontainer 500 1000 %}
</body>
